hr {
    height: 2px;
    background-color: rgb(56, 56, 56);
    margin-right: auto;
    margin-left: auto;
    margin-top: 1px;
    margin-bottom: 1px;
}

p.bigheading {
    font-size: 45pt;
    font-family: fantasy;
}

.goback {
    background-color: #4CAF50;
    font-size: 30px;
    transition: 1s;
}

.goback:hover {
    font-size: 40px;
    cursor: pointer;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

table,
th,
td {
    border: 1px solid #000;
    text-align: center;
}

td,
th {
    padding: 5px;
}

a {
    color: rgb(70, 70, 255);
}

a:link {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
}

a:visited {
    text-decoration: none;
}