body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h1 {
    text-align: center;
}

img.img01, img.img02, img.img03 {
    height: 450px;
    text-align: center;
    border-radius: 16px;
    border: 3px solid gray;
}

a {
    color: #000;
}

a:link {
    text-decoration: underline;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: none;
}

.linkone {
    padding-top: 15px;
    border: 2px solid #555;
    box-shadow: 5px solid #000;
    width: 425px;
    height: 50px;
    text-align: center;
}

hr {
    height: 2px;
    background-color: rgb(56, 56, 56);
    margin-right: auto;
    margin-left: auto;
    margin-top: 1px;
    margin-bottom: 1px;
}

.a001 {
    background-image: url(/img/1678340.png);
    background-size: 100% 100%;
}

.edogheading {
    padding-top: 175px;
    padding-bottom: 175px;
    font-size: 60pt;
    text-align: center;
    font-weight: bold;
    font-style: italic;
}

.topnav a.main-logo-image {
    float: left;
    padding: 0px 16px;
}

.topnav {
    top: 0;
    background-color: #d4d4d4;
    position: sticky;
}

.topnav img {
    float: left;
    display: block;
    padding: 14px 25px;
}

.topnav a {
    float: right;
    display: block;
    color: black;
    text-align: center;
    padding: 30px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    transition: 50ms;
    color: rgb(66, 96, 116);
}

footer {
    padding-top: 60px;
    padding-bottom: 60px;
    text-align: center;
    background-color: #808080;
}