body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

button {
    border: 4px solid darkgray;
    border-radius: 10px;
    font-size: 20pt;
    background-color: lightgray;
    margin: 10px;
    transition: 1s;
}

button:hover {
    cursor: pointer;
    font-size: 22pt;
}

h1 {
    text-align: center;
}

img.img01,
img.img02,
img.img03 {
    margin: 5px;
    height: 450px;
    text-align: center;
    border-radius: 16px;
    border: 3px solid gray;
}

a {
    color: rgb(82, 82, 255);
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: none;
}

.linkone {
    padding-top: 15px;
    border: 2px solid #555;
    box-shadow: 5px solid #000;
    width: 425px;
    height: 50px;
    text-align: center;
}

hr {
    height: 2px;
    background-color: rgb(56, 56, 56);
    margin-right: auto;
    margin-left: auto;
    margin-top: 1px;
    margin-bottom: 1px;
}

.a001 {
    background-image: radial-gradient(rgb(50, 33, 201), rgb(88, 235, 203), rgb(255, 179, 36));
}

.edogheading {
    padding-top: 175px;
    padding-bottom: 175px;
    font-size: 60pt;
    text-align: center;
    font-weight: bold;
    font-style: italic;
}

.topnav a.main-logo-image {
    float: left;
    padding: 0px 16px;
}

.topnav {
    top: 0;
    background-color: #d4d4d4;
    position: sticky;
    position: -webkit-sticky;
    display: list-item;
}

.topnav img {
    float: left;
    display: block;
    padding: 14px 25px;
}

.topnav a {
    float: right;
    display: block;
    color: #000;
    text-align: center;
    padding: 30px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    transition: 50ms;
    color: rgb(66, 96, 116);
}

footer {
    width: 100%;
    padding-top: 60px;
    padding-bottom: 60px;
    text-align: center;
    background-color: #808080;
}

video {
    border: 5px groove #000;
    border-radius: 4px;
}

.videos {
    text-align: center;
}

.kkwslink {
    border: 4px solid #c40000;
    border-radius: 10px;
    font-size: 20pt;
    background-color: #ff0000;
    transition: 1s;
}

.AManHasFallenIntoTheRiverinLegoCity {
    border: 4px solid #00158d;
    border-radius: 10px;
    font-size: 20pt;
    background-color: #0000ff;
    transition: 1s;
}

.kkwslink:hover {
    cursor: pointer;
    font-size: 22pt;
}

.AManHasFallenIntoTheRiverinLegoCity:hover {
    cursor: pointer;
    font-size: 22pt;
}

.images-list {
    text-align: center;
}

.centeralign {
    text-align: center;
    padding-left: 30%;
}

.puppy {
    text-align: center;
    background-image: url(/img/1678340.png);
    background-size: 576px 247px;
    height: 247px;
    width: 576px;
}

#sidenav {
    height: 396px;
    /* Full-height: remove this if you want "auto" height */
    width: 100px;
    /* Set the width of the sidebar */
    position: fixed;
    /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1;
    /* Stay on top */
    top: 0;
    /* Stay at the top */
    left: 0;
    background-color: #160bb1;
    /* Black */
    overflow-x: hidden;
    /* Disable horizontal scroll */
    padding-top: 20px;
    /* Set the visibility to hidden */
    visibility: hidden;
}

#sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 15px;
    color: #818181;
    display: block;
    padding: 10px;
    cursor: pointer;
}

#sidenav a:hover {
    color: #f1f1f1;
}

#sidenav a:link {
    text-decoration: none;
}

#overlay {
    background-color: #000;
    opacity: 50%;
    width: 100%;
    height: 100%;
}

#sidenav_button {
    width: 60px;
    height: 50px;
    float: right;
    padding-right: 30px;
    padding-top: 10px;
    display: none;
}

/* .topbtn {
    text-decoration: none;
    top: 85%;
    float: right;
    margin-right: 20px;
    margin-top: 20px;
    position: sticky;
    position: -webkit-sticky;
    background-color: red;
    color: #FFF;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.topbtn:link {
    text-decoration: none;
} */


@media screen and (max-width: 930px) {

    /* For the links */
    #no_u {
        display: none;
    }

    #sidenav_button {
        display: block;
    }

    img.img01,
    img.img02,
    img.img03 {
        height: 200px;
        text-align: center;
        border-radius: 16px;
        border: 3px solid gray;
    }

    .puppy {
        display: none;
    }
}