#mydiv {
    position: absolute;
    text-align: center;
    top: 80px;
    left: 500px;
    z-index: 1000;
    background-color: #f1f1f1;
    border: 2px solid #000;
    width: 944px;
    height: 760px;
    font-family: Arial, Helvetica, sans-serif;
    visibility: hidden;
    resize: both;
    overflow: auto;
}

.ready {
    float: left;
}

.bookmarkbar button {
    margin: 7.5px;
}

.baconline {
    width: 640px;
    height: 2px;
    background-color: rgb(0, 0, 0);
    margin-right: auto;
    margin-left: auto;
    margin-top: 1px;
    margin-bottom: 1px;
}

#mydivheader {
    padding: 10px;
    z-index: 10;
    background-color: #dfdfdf;
    color: #fff;
    height: 48px;
    width: 100%;
}

#mydivheader:active {
    cursor: move;
}

#imac {
    margin: 0;
    margin-left: 40%;
    margin-right: 40%;
    margin-top: 50px;
    padding-top: 10px;
    width: 700px;
    height: 700px;
    position: absolute;
    background: #e0e3f1;
    border: solid #000000 2px;
    z-index: 1000;
    font-family: arial;
    visibility: hidden;
}

p.imac-article {
    font-size: small;
}

#funwithjs {
    top: 90px;
    left: 90px;
    padding-top: 10px;
    width: 200px;
    height: 100px;
    position: absolute;
    background: #e0e3f1;
    border: solid #000000 2px;
    z-index: 1000;
    font-family: arial;
    visibility: hidden;
}

#funwithjs a:link {
    text-decoration: underline;
}

hr {
    width: 640px;
    height: 2px;
    background-color: rgb(0, 0, 0);
    margin-right: auto;
    margin-left: auto;
    margin-top: 1px;
    margin-bottom: 1px;
}

#fileexplorer {
    top: 70px;
    left: 410px;
    padding: 10px;
    width: 800px;
    height: 700px;
    position: absolute;
    background: #ffffff;
    border: solid #000000 2px;
    z-index: 1000;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    visibility: hidden;
}

.fileline {
    margin-left: 0px;
    float: left;
    width: 776px;
    height: 2px;
    background-color: rgb(0, 0, 0);
    margin-top: 1px;
    margin-bottom: 1px;
}

#fileexplorerheader {
    padding: 10px;
    cursor: move;
    z-index: 10;
    background-color: #c2c2c2;
    color: #fff;
}

progress {
    accent-color: #0d58e4;
}

.disk_C {
    width: 175px;
    padding: 2px;
    text-align: center;
    border: 1px solid #884bd8;
}

.disk_C:hover {
    border: 4px solid #884bd8;
    border-radius: 3px;
}

.gh1 {
    width: 200px;
    padding: 2px;
    text-align: center;
    border: 1px solid #884bd8;
}

.gh1:hover {
    border: 4px solid #884bd8;
    border-radius: 3px;
}

.cdrom0 {
    width: 200px;
    padding: 2px;
    text-align: center;
    border: 1px solid #884bd8;
}

.cdrom0:hover {
    border: 4px solid #884bd8;
    border-radius: 3px;
}

a:link {
    text-decoration: none;
}

body {
    background-image: url(/img/bliss.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    background-color: #000;
    font-family: Arial, Helvetica, sans-serif;
}

#nohorseplaysite {
    top: 70px;
    left: 410px;
    width: 1280px;
    height: 800px;
    position: absolute;
    background: #ffffff;
    border: solid #000000 2px;
    z-index: 1000;
    font-family: arial;
    visibility: hidden;
}

#nohorseplaysiteheader {
    padding: 10px;
    cursor: move;
    z-index: 10;
    background-color: #c2c2c2;
    color: #fff;
}

#systemsettings {
    margin: 0;
    margin-left: 40%;
    margin-right: 40%;
    margin-top: 50px;
    padding-left: 5px;
    padding-top: 10px;
    width: 640px;
    height: 640px;
    position: absolute;
    background: #ffffff;
    border: solid #000000 2px;
    z-index: 1000;
    font-family: arial;
    visibility: hidden;
    background-image: url('/A-Random-Website-once-again/wow/img/industry-clipart-cogs-13-4183961552.png');
}

.a002 {
    width: 75px;
    height: 75px;
    margin: 5px;
    border: 1px solid #000;
    border-radius: 3px;
    background-image: url(/img/cs-details.png);
    background-size: cover;
    cursor: pointer;
}

.a002:hover {
    border-radius: 6px;
}

.a003 {
    width: 75px;
    height: 75px;
    margin: 5px;
    border: 1px solid #000;
    border-radius: 3px;
    background-image: url(/img/gnome-settings-background.png);
    background-size: cover;
    cursor: pointer;
}

.a003:hover {
    border-radius: 6px;
}

#a004 a:link {
    text-decoration: underline;
}

#aboutedogos {
    margin: 0;
    margin-left: 40%;
    margin-right: 40%;
    margin-top: 50px;
    padding-top: 10px;
    width: 600px;
    height: 600px;
    position: absolute;
    background: #12a136;
    border: solid #000000 2px;
    z-index: 1000;
    font-family: arial;
    visibility: hidden;
    text-align: center;
}

#changeWallpaper {
    padding-top: 10px;
    width: 700px;
    height: 700px;
    top: 80px;
    left: 6px;
    position: absolute;
    background: #a009ad;
    border: solid #000000 2px;
    z-index: 1000;
    font-family: arial;
    visibility: hidden;
    text-align: center;
}

table,
th,
td {
    border: 1px solid black;
    border-radius: 5px;
}

#haha {
    width: 640px;
    height: 2px;
    background-color: rgb(0, 0, 0);
    margin-right: auto;
    margin-left: auto;
    margin-top: 1px;
    margin-bottom: 1px;
}

.startmenubutton {
    width: 60px;
    height: 60px;
    transition: 750ms;
    border: 1px solid #000;
    background-image: url(/android-chrome-192x192.png);
    background-size: 100% 100%;
}

.startmenubutton:hover {
    border-radius: 5px;
    border: 5px solid #000;
}

#calcu {
    border: 1px solid black;
    margin-left: auto;
    margin-right: auto;
}

#container {
    position: relative;
}

#imageView {
    border: 1px solid #992e2e;
}

#imageTemp {
    position: absolute;
    top: 1px;
    left: 1px;
}

#abcd {
    width: 100%;
    padding: 20px 40px;
    background-color: green;
    color: white;
    font-size: 24px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
}

#equals {
    width: 100%;
    padding: 20px 40px;
    background-color: rgb(0, 160, 0);
    color: white;
    font-size: 24px;
    font-weight: bold;
    border: 2px solid #000;
    border-radius: 5px;
}

#result {
    padding: 20px 30px;
    font-size: 24px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    border: 2px solid black;
}

#startmenu {
    padding-top: 10px;
    padding-left: 100px;
    width: 400px;
    height: 450px;
    top: 62px;
    left: 0px;
    position: absolute;
    background: #1f3681;
    border: solid #000000 2px;
    border-radius: 7px;
    z-index: 1000;
    font-family: arial;
    visibility: hidden;
}

#error {
    border: 2px solid #000;
    border-radius: 4px;
    padding-left: 15px;
    padding-top: 15px;
    top: 70px;
    left: 425px;
    width: 400px;
    height: 215px;
    position: fixed;
    background: #ffffff;
    z-index: 1000;
    visibility: hidden;
    font-family: Arial, Helvetica, sans-serif;
}

#bluescreen {
    padding-top: 15px;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    position: fixed;
    color: #ffffff;
    background: #10129e;
    z-index: 1000;
    font-family: 'Courier New', Courier, monospace;
    visibility: hidden;
}

#vscode {
    border: 2px solid #000;
    border-radius: 4px;
    padding-left: 15px;
    padding-top: 15px;
    top: 70px;
    left: 425px;
    width: 1000px;
    height: 600px;
    position: fixed;
    background: #009688;
    z-index: 1000;
    font-family: 'Courier New', Courier, monospace;
    visibility: hidden;
}

#panel {
    position: absolute;
    width: 50%;
    bottom: 0px;
    left: 25%;
    right: 25%;
    background-color: #00bb9c;
    height: 62px;
    text-align: center;
    opacity: 75%;
}

#mennubar {
    position: absolute;
    width: 100%;
    top: 0px;
    background-color: #3053c7;
    height: 62px;
}

.appsdaasd {
    text-align: center;
}

.allthatstuffontheside {
    border-radius: 5px;
    border: 1px solid #111111;
    float: right;
}

/* The sidebar menu */
.sidenav {
    height: 446px;
    /* Full-height: remove this if you want "auto" height */
    width: 80px;
    /* Set the width of the sidebar */
    position: fixed;
    /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1;
    /* Stay on top */
    top: 64px;
    /* Stay at the top */
    left: 0;
    background-color: #160bb1;
    /* Black */
    overflow-x: hidden;
    /* Disable horizontal scroll */
    padding-top: 20px;
    border-radius: 7px;
    border: solid #000000 2px;
}

.sidenav a {
    padding: 10px;
}

textarea {
    background-color: #555;
    border: 3px solid #000;
    border-radius: 9px;
    resize: none;
    width: 950px;
    height: 400px;
}

#edogpaint {
    border: 2px solid #000;
    border-radius: 4px;
    padding-left: 15px;
    padding-top: 15px;
    top: 70px;
    left: 450px;
    width: 680px;
    height: 600px;
    position: absolute;
    background: #d8d8d8;
    z-index: 1000;
    font-family: Arial, Helvetica, sans-serif;
    visibility: hidden;
}

#setupbox {
    border: 2px solid #000;
    border-radius: 4px;
    top: 70px;
    left: 450px;
    width: 600px;
    height: 600px;
    position: absolute;
    background: #d8d8d8;
    z-index: 1000;
    font-family: Arial, Helvetica, sans-serif;
    visibility: visible;
}

#setupboxotwo {
    border: 2px solid #000;
    border-radius: 4px;
    top: 70px;
    left: 450px;
    width: 600px;
    height: 600px;
    position: absolute;
    background: #d8d8d8;
    z-index: 1000;
    font-family: Arial, Helvetica, sans-serif;
    visibility: hidden;
}

p.head1 {
    font-size: 30pt;
    text-align: center;
}

#startsearch {
    border: 3px solid #000;
    background-color: #bdbdbd;
}

#line1 {
    width: 200px;
    height: 2px;
    background-color: rgb(56, 56, 56);
    margin-right: auto;
    padding-left: 100px;
    margin-top: 1px;
    margin-bottom: 1px;
}

#texteditor {
    padding-top: 10px;
    padding-left: 10px;
    position: absolute;
    top: 70px;
    left: 450px;
    border: 2px solid #000;
    border-radius: 4px;
    width: 625px;
    height: 650px;
    background: #ffe6e6;
    visibility: hidden;
    z-index: 1000;
}

#ie {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-top: 10px;
    padding-left: 10px;
    position: absolute;
    top: 70px;
    left: 450px;
    border: 2px solid #000;
    border-radius: 4px;
    width: 800px;
    height: 600px;
    z-index: 1;
    background-image: linear-gradient(#b2cbe5, #a5d2ea);
    visibility: hidden;
}

#mediaplayer {
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    position: absolute;
    padding-top: 5px;
    top: 70px;
    left: 450px;
    border: 2px solid #000;
    border-radius: 4px;
    width: 330px;
    height: 360px;
    z-index: 1;
    background-image: linear-gradient(#67f714, #0da0a0);
    visibility: hidden;
}

.playpause {
    float: left;
    width: 67px;
    height: 30px;
    background-image: url(/img/window-buttons/pauseplay.png);
    background-size: cover;
    border: 1px solid #000;
    border-radius: 3px;
}

.playpause:hover {
    cursor: pointer;
    width: 87px;
    height: 40px;
}

.fullscreenbutton {
    padding: 4px;
    width: 30px;
    height: 30px;
    float: right;
    background-image: url(/img/window-buttons/fullscreen.png);
    background-size: cover;
    border: 1px solid #000;
    border-radius: 3px;
}

.fullscreenbutton:hover {
    cursor: pointer;
    width: 40px;
    height: 40px;
}

#shutdownprompt {
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    position: absolute;
    top: 70px;
    left: 450px;
    border: 2px solid #000;
    border-radius: 4px;
    width: 300px;
    height: 200px;
    z-index: 1;
    background-color: rgb(131, 55, 55);
    visibility: hidden;
}

#header {
    width: 100%;
    color: #FFF;
    text-align: center;
    background-color: #3053c7;
    border: 1px solid #000;
    border-radius: 3px;
}

.shutdown1 {
    background-color: #ff3636;
    border: 3px solid #FF0;
    border-radius: 3px;
    float: left;
}

.shutdown1:hover {
    background-color: #ff7272;
}

.cancel1 {
    background-color: #ff3636;
    float: right;
    border: 2px solid #000;
    border-radius: 3px;
}

.cancel1:hover {
    background-color: #ff7272;
    border: 3px solid #FF0;
    border-radius: 3px;
}

#edogcalculator {
    padding-top: 5px;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    position: absolute;
    top: 70px;
    left: 450px;
    border: 2px solid #000;
    border-radius: 4px;
    width: 575px;
    height: 500px;
    z-index: 1;
    background-color: rgb(131, 55, 55);
    visibility: hidden;
}

/* Style The Dropdown Button */
.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: #f1f1f1
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}

.wallpaperbtn1 {
    width: 100px;
    height: 50px;
    margin: 5px;
    background-image: url(/img/bliss.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.wallpaperbtn2 {
    width: 100px;
    height: 50px;
    margin: 5px;
    background-image: url(/A-Random-Website-once-again/wow/img/84132-nature-flowers-closeup-white_flowers-Windows_8.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.wallpaperbtn3 {
    color: #F00;
    width: 100px;
    height: 50px;
    margin: 5px;
    background-image: url(/A-Random-Website-once-again/wow/img/f494bfba58260f60bf53f91a7d7c1bdd.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.wallpaperbtn4 {
    color: #fff;
    width: 100px;
    height: 50px;
    margin: 5px;
    background-image: url(/A-Random-Website-once-again/wow/img/d5b76f7c228e8b1030e2df64a09f60d5.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.wallpaperbtn5 {
    width: 100px;
    height: 50px;
    margin: 5px;
    background-image: url(/A-Random-Website-once-again/wow/img/435688-free-cute-dogs-and-puppies-wallpaper-2560x1600-for-pc.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.wallpaperbtn6 {
    color: rgb(136, 255, 0);
    width: 100px;
    height: 50px;
    margin: 5px;
    margin-top: 20px;
    background-image: url(/img/roccky.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.wallpaperbtn7 {
    width: 50px;
    height: 50px;
    margin: 5px;
    margin-top: 20px;
    background-image: url(/img/Icon-Prohibited-Ban-Shield-Prohibitory-1681759.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

/* I finally got around to replacing the error with a music player, huh? Awesome. */

#musicpalyer {
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    position: absolute;
    top: 70px;
    left: 450px;
    border: 2px solid #000;
    border-radius: 4px;
    width: 304px;
    height: 87px;
    z-index: 1;
    background-color: rgb(76, 0, 255);
    visibility: hidden;
}

#softwareupdate {
    padding: 50px 40%;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    z-index: 1000000;
    background-color: #000000;
    visibility: hidden;
}

.meter {
    height: 5px;
    position: relative;
    background: #505050;
    overflow: hidden;
}

.meter span {
    display: block;
    height: 100%;
}

.progress {
    background-color: #ffffff;
    animation: progressBar 480000ms ease-in-out;
    animation-fill-mode: both;
    -moz-animation: progressBar 480000ms ease-in-out;
    -moz-animation-fill-mode: both;
}

@keyframes progressBar {
    0% {
        width: 0;
    }

    100% {
        width: 100%;
    }
}

@keyframes progressBar {
    0% {
        width: 0;
    }

    100% {
        width: 100%;
    }
}

#camera {
    padding: 10px;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    position: absolute;
    top: 70px;
    left: 450px;
    border: 2px solid #000;
    border-radius: 4px;
    width: 800px;
    height: 600px;
    z-index: 1;
    background-color: rgb(76, 0, 255);
    visibility: hidden;
}

#terminall {
    font-family: monospace;
    position: absolute;
    top: 70px;
    left: 450px;
    border: 2px solid #000;
    border-radius: 4px;
    width: 800px;
    height: 600px;
    z-index: 1;
    background-color: rgb(0, 0, 0);
    visibility: hidden;
    overflow: hidden;
}

#changeWallpaper button {
    margin: 0px;
    padding: 0px;
    cursor: pointer;
}

#changeWallpaper input[type="submit"],
#changeWallpaper input[type="file"],
#changeWallpaper input[type="color"] {
    cursor: pointer;
}

/* .wallpaperbtn5 {
    margin-bottom: 10678456785478875480%;
} */

#appstore {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    position: absolute;
    padding: 10px;
    top: 70px;
    left: 450px;
    border: 2px solid #000;
    border-radius: 4px;
    width: 800px;
    height: 600px;
    z-index: 1;
    background-color: rgb(255, 255, 255);
    overflow-y: scroll;
    visibility: hidden;
}

.bg01eee858585 {
    text-align: center;
    background-image: url(/img/bg01.jpg);
    background-size: cover;
    padding-top: 100px;
    padding-bottom: 100px;
    color: #fff;
}

#EASREADYdesc {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    position: absolute;
    padding: 10px;
    top: 100px;
    left: -2px;
    width: 800px;
    height: 1000%;
    z-index: 1;
    background-color: rgb(255, 255, 255);
    visibility: hidden;
}

.installApp {
    border: 1px solid #000;
    background-color: lawngreen;
    cursor: pointer;
}

.installApp:active {
    background-color: rgb(87, 173, 0);
}

.uninstallApp {
    border: 1px solid #000;
    background-color: red;
    cursor: pointer;
}

.uninstallApp:active {
    background-color: darkred;
}

#EASREADY {
    visibility: hidden;
}

#eas_ready {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    position: absolute;
    padding: 10px;
    top: 70px;
    left: 450px;
    border: 2px solid #000;
    border-radius: 4px;
    width: 800px;
    height: 600px;
    z-index: 1;
    background-color: rgb(0, 0, 0);
    visibility: hidden;
    overflow: hidden;
}

#snake_appp {
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    position: absolute;
    padding: 10px;
    top: 70px;
    left: 450px;
    border: 2px solid #000000;
    border-radius: 4px;
    width: 800px;
    height: 700px;
    z-index: 1;
    background-color: blanchedalmond;
    visibility: hidden;
    overflow: hidden;
}

#snake_apppdesc {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    position: absolute;
    padding: 10px;
    top: 100px;
    left: -2px;
    width: 800px;
    height: 1000%;
    z-index: 1;
    background-color: rgb(255, 255, 255);
    visibility: hidden;
}

#appstore_app_list {
    list-style-type: none;
}

#appstore_app_list li {
    margin-bottom: 5px;
    margin-top: 5px;
}

#appstore_app_list #li1 {
    border: 1px solid #000;
    width: 300px;
    height: 140px;
    text-align: center;
}

#appstore_app_list #li2 {
    border: 1px solid #000;
    width: 300px;
    height: 140px;
    text-align: center;
}

#SNAEKEEDPUJNwedrfjhilwse {
    visibility: hidden;
}

#surprise {
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    position: absolute;
    padding: 10px;
    top: 70px;
    left: 450px;
    border: 2px solid #000000;
    border-radius: 4px;
    width: 800px;
    height: 700px;
    z-index: 1;
    background-image: linear-gradient(to right, red,orange,yellow,green,blue,indigo,violet);
    visibility: visible;
    overflow: hidden;
}

@media screen and (max-width: 930px) {
    body {
        background-image: none;
    }

    #panel {
        height: max-content;
        display: block;
    }

    .allthatstuffontheside {
        display: block;
    }

    #rrr {
        display: block;
    }
}