#mydiv {
    position: absolute;
    text-align: center;
    top: 80px;
    left: 500px;
    z-index: 1000;
    background-color: #f1f1f1;
    border: 2px solid #000;
    width: 944px;
    height: 750px;
    visibility: hidden;
}

.bookmarkbar button {
    margin: 7.5px;
}

.baconline {
    width: 640px;
    height: 2px;
    background-color: rgb(0, 0, 0);
    margin-right: auto;
    margin-left: auto;
    margin-top: 1px;
    margin-bottom: 1px;
}

#mydivheader {
    padding: 10px;
    cursor: move;
    z-index: 10;
    background-color: #f1f1f1;
    color: #fff;
}

#imac {
    margin: 0;
    margin-left: 40%;
    margin-right: 40%;
    margin-top: 50px;
    padding-top: 10px;
    width: 700px;
    height: 700px;
    position: absolute;
    background: #e0e3f1;
    border: solid #000000 2px;
    z-index: 1000;
    font-family: arial;
    visibility: hidden;
}

p.imac-article {
    font-size: small;
}

#funwithjs {
    margin: 0;
    margin-left: 40%;
    margin-right: 40%;
    margin-top: 50px;
    padding-top: 10px;
    width: 200px;
    height: 100px;
    position: absolute;
    background: #e0e3f1;
    border: solid #000000 2px;
    z-index: 1000;
    font-family: arial;
    visibility: hidden;
}

hr {
    width: 640px;
    height: 2px;
    background-color: rgb(0, 0, 0);
    margin-right: auto;
    margin-left: auto;
    margin-top: 1px;
    margin-bottom: 1px;
}

#fileexplorer {
    top: 70px;
    left: 410px;
    padding: 10px;
    width: 800px;
    height: 700px;
    position: absolute;
    background: #ffffff;
    border: solid #000000 2px;
    z-index: 1000;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    visibility: hidden;
}

.fileline {
    margin-left: 0px;
    float: left;
    width: 776px;
    height: 2px;
    background-color: rgb(0, 0, 0);
    margin-top: 1px;
    margin-bottom: 1px;
}

#fileexplorerheader {
    padding: 10px;
    cursor: move;
    z-index: 10;
    background-color: #c2c2c2;
    color: #fff;
}

progress {
    accent-color: #ff0000;
}

.disk_C {
    width: 175px;
    padding: 2px;
    text-align: center;
    border: 1px solid #884bd8;
}

.disk_C:hover {
    border: 4px solid #884bd8;
    border-radius: 3px;
}

.gh1 {
    width: 200px;
    padding: 2px;
    text-align: center;
    border: 1px solid #884bd8;
}

.gh1:hover {
    border: 4px solid #884bd8;
    border-radius: 3px;
}

a:link {
    text-decoration: none;
}

body {
    background-image: url(/img/bliss.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0px 55px;
}

#nohorseplaysite {
    top: 70px;
    left: 410px;
    width: 1280px;
    height: 800px;
    position: absolute;
    background: #ffffff;
    border: solid #000000 2px;
    z-index: 1000;
    font-family: arial;
    visibility: hidden;
}

#nohorseplaysiteheader {
    padding: 10px;
    cursor: move;
    z-index: 10;
    background-color: #c2c2c2;
    color: #fff;
}

#systemsettings {
    margin: 0;
    margin-left: 40%;
    margin-right: 40%;
    margin-top: 50px;
    padding-left: 5px;
    padding-top: 10px;
    width: 640px;
    height: 640px;
    position: absolute;
    background: #ffffff;
    border: solid #000000 2px;
    z-index: 1000;
    font-family: arial;
    visibility: hidden;
    background-image: url('/A-Random-Website-once-again/wow/img/industry-clipart-cogs-13-4183961552.png');
}

#aboutedogos {
    margin: 0;
    margin-left: 40%;
    margin-right: 40%;
    margin-top: 50px;
    padding-top: 10px;
    width: 400px;
    height: 275px;
    position: absolute;
    background: #12a136;
    border: solid #000000 2px;
    z-index: 1000;
    font-family: arial;
    visibility: hidden;
    text-align: center;
}

#changeWallpaper {
    margin: 0;
    margin-left: 40%;
    margin-right: 40%;
    margin-top: 50px;
    padding-top: 10px;
    width: 400px;
    height: 500px;
    position: absolute;
    background: #a009ad;
    border: solid #000000 2px;
    z-index: 1000;
    font-family: arial;
    visibility: hidden;
    text-align: center;
}

table,
th,
td {
    border: 1px solid black;
}

#haha {
    width: 640px;
    height: 2px;
    background-color: rgb(0, 0, 0);
    margin-right: auto;
    margin-left: auto;
    margin-top: 1px;
    margin-bottom: 1px;
}

.startmenubutton {
    width: 60px;
    height: 60px;
    transition: 750ms;
    border: 1px solid #000;
    background-image: url(/android-chrome-192x192.png);
    background-size: 100% 100%;
}

.startmenubutton:hover {
    border-radius: 5px;
    border: 5px solid #000;
}

#calcu {
    border: 1px solid black;
    margin-left: auto;
    margin-right: auto;
}

#container {
    position: relative;
}

#imageView {
    border: 1px solid #992e2e;
}

#imageTemp {
    position: absolute;
    top: 1px;
    left: 1px;
}

#abcd {
    width: 100%;
    padding: 20px 40px;
    background-color: green;
    color: white;
    font-size: 24px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
}

#equals {
    width: 100%;
    padding: 20px 40px;
    background-color: rgb(0, 160, 0);
    color: white;
    font-size: 24px;
    font-weight: bold;
    border: 2px solid #000;
    border-radius: 5px;
}

#result {
    padding: 20px 30px;
    font-size: 24px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    border: 2px solid black;
}

#startmenu {
    padding-top: 10px;
    padding-left: 100px;
    width: 400px;
    height: 450px;
    top: 62px;
    left: 0px;
    position: absolute;
    background: #1f3681;
    border: solid #000000 2px;
    border-radius: 7px;
    z-index: 1000;
    font-family: arial;
    visibility: hidden;
}

#error {
    border: 2px solid #000;
    border-radius: 4px;
    padding-left: 15px;
    padding-top: 15px;
    top: 70px;
    left: 425px;
    width: 400px;
    height: 215px;
    position: fixed;
    background: #ffffff;
    z-index: 1000;
    visibility: hidden;
}

#bluescreen {
    padding-top: 15px;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    position: fixed;
    color: #ffffff;
    background: #10129e;
    z-index: 1000;
    font-family: 'Courier New', Courier, monospace;
    visibility: hidden;
}

#vscode {
    border: 2px solid #000;
    border-radius: 4px;
    padding-left: 15px;
    padding-top: 15px;
    top: 70px;
    left: 425px;
    width: 1000px;
    height: 600px;
    position: fixed;
    background: #353535;
    z-index: 1000;
    font-family: 'Courier New', Courier, monospace;
    visibility: hidden;
}

#panel {
    background-color: #3053c7;
    height: 62px;

}

.allthatstuffontheside {
    border-radius: 5px;
    border: 1px solid #111111;
    float: right;
}

/* The sidebar menu */
.sidenav {
    height: 446px;
    /* Full-height: remove this if you want "auto" height */
    width: 80px;
    /* Set the width of the sidebar */
    position: fixed;
    /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1;
    /* Stay on top */
    top: 64px;
    /* Stay at the top */
    left: 0;
    background-color: #160bb1;
    /* Black */
    overflow-x: hidden;
    /* Disable horizontal scroll */
    padding-top: 20px;
    border-radius: 7px;
    border: solid #000000 2px;
}

.sidenav a {
    padding: 10px;
}

textarea {
    background-color: #555;
    border: 3px solid #000;
    border-radius: 9px;
    resize: none;
    width: 950px;
    height: 400px;
}

#edogpaint {
    border: 2px solid #000;
    border-radius: 4px;
    padding-left: 15px;
    padding-top: 15px;
    top: 70px;
    left: 450px;
    width: 680px;
    height: 600px;
    position: absolute;
    background: #d8d8d8;
    z-index: 1000;
    font-family: Arial, Helvetica, sans-serif;
    visibility: hidden;
}

#setupbox {
    border: 2px solid #000;
    border-radius: 4px;
    top: 70px;
    left: 450px;
    width: 600px;
    height: 600px;
    position: absolute;
    background: #d8d8d8;
    z-index: 1000;
    font-family: Arial, Helvetica, sans-serif;
    visibility: visible;
}

#setupboxotwo {
    border: 2px solid #000;
    border-radius: 4px;
    top: 70px;
    left: 450px;
    width: 600px;
    height: 600px;
    position: absolute;
    background: #d8d8d8;
    z-index: 1000;
    font-family: Arial, Helvetica, sans-serif;
    visibility: hidden;
}

p.head1 {
    font-size: 30pt;
    text-align: center;
}

#startsearch {
    border: 3px solid #000;
    background-color: #bdbdbd;
}

#line1 {
    width: 200px;
    height: 2px;
    background-color: rgb(56, 56, 56);
    margin-right: auto;
    padding-left: 100px;
    margin-top: 1px;
    margin-bottom: 1px;
}

#texteditor {
    padding-top: 10px;
    padding-left: 10px;
    position: absolute;
    top: 70px;
    left: 450px;
    border: 2px solid #000;
    border-radius: 4px;
    width: 625px;
    height: 650px;
    background: #ffe6e6;
    visibility: hidden;
    z-index: 1000;
}

#ie {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-top: 10px;
    padding-left: 10px;
    position: absolute;
    top: 70px;
    left: 450px;
    border: 2px solid #000;
    border-radius: 4px;
    width: 800px;
    height: 600px;
    z-index: 1;
    background-image: linear-gradient(#b2cbe5, #a5d2ea);
    visibility: hidden;
}

#mediaplayer {
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    position: absolute;
    padding-top: 5px;
    top: 70px;
    left: 450px;
    border: 2px solid #000;
    border-radius: 4px;
    width: 330px;
    height: 360px;
    z-index: 1;
    background-image: linear-gradient(#67f714, #0da0a0);
    visibility: hidden;
}

.playpause {
    float: left;
    width: 67px;
    height: 30px;
    background-image: url(/img/window-buttons/pauseplay.png);
    background-size: cover;
    border: 1px solid #000;
    border-radius: 3px;
}

.playpause:hover {
    cursor: pointer;
    width: 87px;
    height: 40px;
}

.fullscreenbutton {
    padding: 4px;
    width: 30px;
    height: 30px;
    float: right;
    background-image: url(/img/window-buttons/fullscreen.png);
    background-size: cover;
    border: 1px solid #000;
    border-radius: 3px;
}

.fullscreenbutton:hover {
    cursor: pointer;
    width: 40px;
    height: 40px;
}

#shutdownprompt {
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    position: absolute;
    top: 70px;
    left: 450px;
    border: 2px solid #000;
    border-radius: 4px;
    width: 300px;
    height: 200px;
    z-index: 1;
    background-color: rgb(131, 55, 55);
    visibility: hidden;
}

#header {
    width: 100%;
    color: #FFF;
    text-align: center;
    background-color: #3053c7;
    border: 1px solid #000;
    border-radius: 3px;
}

.shutdown1 {
    background-color: #ff3636;
    border: 3px solid #FF0;
    border-radius: 3px;
    float: left;
}

.shutdown1:hover {
    background-color: #ff7272;
}

.cancel1 {
    background-color: #ff3636;
    float: right;
    border: 2px solid #000;
    border-radius: 3px;
}

.cancel1:hover {
    background-color: #ff7272;
    border: 3px solid #FF0;
    border-radius: 3px;
}

#edogcalculator {
    padding-top: 5px;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    position: absolute;
    top: 70px;
    left: 450px;
    border: 2px solid #000;
    border-radius: 4px;
    width: 575px;
    height: 500px;
    z-index: 1;
    background-color: rgb(131, 55, 55);
    visibility: hidden;
}

/* Style The Dropdown Button */
.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: #f1f1f1
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}

.wallpaperbtn1 {
    width: 100px;
    height: 50px;
    margin: 5px;
}

.wallpaperbtn2 {
    width: 100px;
    height: 50px;
    margin: 5px;
}

.wallpaperbtn3 {
    width: 100px;
    height: 50px;
    margin: 5px;
}

.wallpaperbtn4 {
    width: 100px;
    height: 50px;
    margin: 5px;
}

.wallpaperbtn5 {
    width: 100px;
    height: 50px;
    margin: 5px;
}

.wallpaperbtn6 {
    width: 100px;
    height: 50px;
    margin: 5px;
}

/* I finally got around to replacing the error with a music player, huh? Awesome. */

#musicpalyer {
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    position: absolute;
    top: 70px;
    left: 450px;
    border: 2px solid #000;
    border-radius: 4px;
    width: 304px;
    height: 87px;
    z-index: 1;
    background-color: rgb(76, 0, 255);
    visibility: hidden;
}

#softwareupdate {
    padding: 50px 40%;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    z-index: 1000000;
    background-color: #000000;
    visibility: hidden;
}

.meter { 
    height: 5px;
    position: relative;
    background: #505050;
    overflow: hidden;
}

.meter span {
    display: block;
    height: 100%;
}

.progress {
    background-color: #ffffff;
    animation: progressBar 480000ms ease-in-out;
    animation-fill-mode:both; 
    -moz-animation: progressBar 480000ms ease-in-out;
    -moz-animation-fill-mode:both; 
}

@keyframes progressBar {
  0% { width: 0; }
  100% { width: 100%; }
}

@keyframes progressBar {
  0% { width: 0; }
  100% { width: 100%; }
}