.information {
    -webkit-border-radius: 1em;
    -moz-border-radius: 1em;
    border-radius: 1em;
    
    background-color: #DAE4F0;
    color: #003876;
    border: 2px solid #003876;
    padding: 5px 5px;
    overflow: auto;
}

.information:before {
    content:"";
    background: url('../Images/PXP/OEN_info.png') no-repeat;
    background-size: 32px 32px;
    position: relative;
    display: inline-block;
    float: left;
    width: 40px;
    min-height: 50px;
    height: 100%;
    
}

.information > p, .information > ul, .information > div {
    margin-left: 50px;
    text-align: left;
}

.information > div.row {
    margin-left: 50px;
    margin-right: 50px;
}

.information div.centerAligned {
    text-align: center;
    margin: 10px 40px 10px 0px;
}

.instructions {
    -webkit-border-radius: 1em;
    -moz-border-radius: 1em;
    border-radius: 1em;

    background-color: #DAE4F0;
    color: #003876;
    padding: 5px 5px;
    overflow: auto;
}

.instructionText {
    padding-top: 10px;
}

.instructions li {
    margin-left: 50px;
    text-align:left;
}

.instructions:before {
    content:"";
    background: url('../Images/PXP/info-icon.png') no-repeat;
    display: block;
    float: left;
    width: 32px;
    height: 32px;
    background-size:32px 32px;
    margin: 0 10px 0px 0;
}

.secondaryInstructions {
    font-weight: bold;
    display: inline-block;
    padding-bottom: 10px;
    white-space: normal;
}

.hideBackgroundColor {
    background-color:#ffffff !important;
}

.oenError {
    -webkit-border-radius: 1em;
    -moz-border-radius: 1em;
    border-radius: 1em;
    
    display: inline-block;
    background-color: #FFAAAA;
    color: #800000;
    border: 2px solid #800000;
    padding: 5px 5px;
    padding-right: 2em;
    min-height: 40px;
    text-align: left;
    
    z-index: 100;
}

.oenErrorNav {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    
    display: inline-block;
    background-color: #FFAAAA;
    color: #800000;
    border: 2px solid #800000;
    padding: 2px 2px;
    text-align: center;

    position: absolute;
    top: -0.5em;
    right: 0;
}

.oenErrorNav span {
    cursor: pointer;
    margin: 0px 2px;
}

.oenError p, .oenError ul {
    list-style-type: none;
    margin-left: 50px;
}

.oenError:before {
    content:"";
    background: url('../Images/PXP/OEN_error.png') no-repeat;
    background-size: 32px 32px;
    display: inline-block;
    width: 40px;
    height: 40px;
    position: absolute;
}

#ApplicationException {
    display: block;
}

#oen-window {
    width: 80%;
    min-width: 400px;
    height: 80%;
    min-height: 300px;

    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);

    border: 1px solid #000000;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;

    background-color: #ffffff;
    
    /* make sure it has the highest z-index */
    position:absolute;
    z-index:5000;
}

#oen-window .win-content {
    overflow: auto;
    position: absolute;
    left: 5px;
    right: 5px;
    top: 5px;
    bottom: 5px;
}

#oen-window .btnClose {
    position: absolute;
    width: 16px;
    right: -8px;
    top: -8px;
}

#oen-overlay, #dialog-overlay {
    /* transparency for different browsers */
    filter:alpha(opacity=50);
    -moz-opacity:0.5;
    -khtml-opacity: 0.5;
    opacity: 0.5;
    background:#000;

    position:absolute;
    top:0; left:0;
    z-index:3000;
}

#dialog-box {
        
    /* css3 drop shadow */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
        
    /* css3 border radius */
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
        
    background:#fff;
    width:328px;

    overflow: hidden;
    
    /* make sure it has the highest z-index */
    position:absolute;
    z-index:5000;
}

#dialog-box h3 {
	background-color: #B0C5E1;
	padding: 2px 5px;
	color: #444444;
	margin: 0 0 5px 0;
}

#dialog-box p.dlgMessage {
    text-align:left;
    min-height: 60px;
    padding: 5px 5px;
}

#dialog-box .controls {
    margin: 5px 5px;
    text-align: right;
}

#dialog-box .controls button {
    margin: 0px 5px;
    width: 100px;
}

.ERROR {
    font-size: medium;
    padding-left: 10px;
    padding-right: 10px;
    border-right: #C10000 1px solid;
    border-top: #C10000 1px solid;
    font-weight: bold;
    border-left: #C10000 1px solid;
    color: #C10000;
    border-bottom: #C10000 1px solid;
    font-family: Arial;
    cursor: default;
    display: block;
}
