.dx-datagrid-rowsview .dx-row-removed > td {
  background-color: rgba(184, 92, 92, 0.36);
  border-top: 1px solid rgba(184, 92, 92, 0.5);
  border-bottom: 1px solid rgba(184, 92, 92, 0.5);
}

.dx-datagrid-cancel-button, .dx-datagrid-save-button {
    display: none;
    visibility: hidden;
}

.dx-datagrid-content .dx-datagrid-table .dx-row > td.dx-btn-cell {
    vertical-align: middle;
}

.dx-data-row .btn {
    padding: 3px 12px;
}
