body {
    padding: 25px;
    background-color: #000000;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

.logo {
    margin-top: 50px;
    margin-bottom: 50px;
}

.progress {
    width: 400px;
    /* Set a fixed, shorter width */
    margin: 0 auto;
    /* Center horizontally */
    background-color: #444444;
    border-radius: 7px;
    cursor: wait;
}

.bar {
    width: 0%;
    height: 18px;
    /* Make the bar shorter */
    background-color: #ffffff;
    text-align: center;
    line-height: 18px;
    /* Match the new height */
    border-radius: 7px;
    animation: progress-animation 11s;
}

h3 {
    color: #ffffff;
    font-size: 18px;
    margin-top: 20px;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}

#bootStage1 {
    display: block;
}

#bootStage2 {
    display: none;
}

#bootMenu {
    display: none;
}

@keyframes progress-animation {
    0% {
        width: 0%;
    }

    15% {
        width: 15%;
    }

    25% {
        width: 15%;
    }

    50% {
        width: 50%;
    }

    75% {
        width: 55%;
    }

    90% {
        width: 95%;
    }

    100% {
        width: 100%;
    }
}